    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #F8F9FD;
        overflow-x: hidden;
    }
    
    header {
        padding: 2vh 0;
        background-color: #1A2D34;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
    }
    
    #businessName {
        color: #F8F9FD;
        font-size: 1.4rem;
        margin-left: 20rem;
        margin-right: 12rem;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times;
        font-weight: 800;
    }
    
    #logIn {
        font-size: 0.8rem;
        margin-left: 1vw;
        padding: 8.5px 10px;
        border-radius: 25px;
    }
    
    .roundedBtn {
        color: #F8F9FD;
        text-decoration: none;
        border: none;
        outline: none;
        font-family: Georgia, 'Times New Roman', Times;
        font-weight: 600;
        background-color: #ED008C;
    }
    
    #nav-list {
        display: flex;
        list-style: none;
    }
    
    .list-items {
        margin: 0 12.5px;
    }
    
    .dropdown .listLinks {
        color: #F8F9FD;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.1rem;
        opacity: 0.6;
        border: none;
        outline: none;
        background-color: inherit;
    }
    
    .fa-caret-down {
        opacity: 0.3;
        font-size: 0.8rem;
    }
    
    .dropdown:hover .listLinks {
        opacity: 1;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1A2D34;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        float: none;
        color: #F8F9FD;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        opacity: 0.6;
    }
    
    .dropdown-content a:hover {
        background-color: #1a2830;
        opacity: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    #topPageSection {
        background-color: white;
    }
    
    #pageTop {
        display: flex;
        background-color: #1A2D34;
        color: #F8F9FD;
        border-radius: 0 0 55% 55% /0% 0% 22.5% 22.5%;
        padding: 5rem 20em 10rem 20rem;
    }
    
    #pageTop #pageTopText {
        width: 25vw;
        margin-right: 20px;
    }
    
    #pageTopText h1 {
        font-size: 3.3rem;
        padding: 0 4rem 0 0;
    }
    
    #pageTopText p {
        margin: 10px 0;
    }
    
    #pageTopText #pageTopBtn {
        font-size: 1.1rem;
        padding: 20px 30px;
        border-radius: 50px;
    }
    
    #pageTop img {
        width: 30vw;
        height: 45vh;
        clip-path: inset(0px 15px);
    }
    
    #aboutUs {
        padding: 5rem 15rem;
        color: black;
        display: flex;
    }
    
    #aboutUs div {
        display: grid;
        margin: 0 20px;
    }
    
    #aboutUs div h3 {
        margin: 15px 0;
        font-family: Georgia, 'Times New Roman', Times;
        font-weight: bolder;
    }
    
    #pageMiddle {
        padding: 5rem 10rem;
        display: flex;
        justify-content: center;
    }
    
    #pageMiddle h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    
    #pageMiddle .pageMiddleText {
        text-align: center;
    }
    
    #middlePageLinks {
        margin: 30px 0;
        justify-content: center;
        display: flex;
    }
    
    #middlePageLinks .linksActive {
        margin: 0 10px;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
    }
    
    #middlePageLinks .links {
        margin: 0 10px;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        color: #ED008C;
        text-decoration: none;
        border: none;
        outline: none;
        font-family: Georgia, 'Times New Roman', Times;
        font-weight: 600;
        background-color: inherit;
    }
    
    #middlePageLinksContent1 {
        display: flex;
    }
    
    .middlePageLinksContent {
        align-items: center;
        padding: 0 7.5rem;
    }
    
    .middlePageLinksContentTextContainer {
        display: grid;
        height: 50%;
    }
    
    .middlePageLinksContentText h3 {
        font-size: 1.85rem;
    }
    
    .middlePageLinksContentText h3 {
        position: relative;
    }
    
    #middlePageLinksContent1 .underline::after {
        content: '';
        position: absolute;
        background-color: #ED008C;
        width: 6rem;
        height: 13px;
        display: block;
        margin-top: -15px;
        margin-left: 7.1rem;
        z-index: -1;
    }
    
    #middlePageLinksContent3 .underline::after {
        content: '';
        position: absolute;
        background-color: #ED008C;
        width: 8.3rem;
        height: 13px;
        display: block;
        margin-top: -15px;
        margin-left: 4.6rem;
        z-index: -1;
    }
    
    .middlePageLinksContentText p {
        margin: 20px 0;
        font-size: 1.1rem;
    }
    
    .middlePageLinksContentPersona {
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 0px 1px lightgray, 0px 0px 1px 2px lightgray, 0px 0px 20px 5px lightgray;
    }
    
    #middlePageLinksContent3 .middlePageLinksContentPersona {
        margin-right: 6rem;
    }
    
    .middlePageLinksContentImg {
        width: 100%;
        max-height: 60vh;
        clip-path: inset(25px 0px);
        object-fit: cover;
        margin: 0 50px;
        object-position: center top;
    }
    
    .middlePageLinksContentPersona img {
        height: 7.5vh;
        border-radius: 50%;
        margin: 0.5rem 1rem;
    }
    
    #middlePageLinksContent2,
    #middlePageLinksContent3 {
        display: none;
    }
    
    .middlePagePersonaMobileImg {
        display: none;
    }
    
    #video {
        padding: 15rem 0;
        background-color: #1A2D34;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F8F9FD;
    }
    
    #video p {
        font-size: 2rem;
    }
    
    @media screen AND (max-width: 700px) {
        header {
            padding: 1vh 0;
            position: sticky;
            top: 0;
        }
        header #businessName {
            font-size: 0.75rem;
            margin-left: 5vw;
            margin-right: 5vw;
        }
        #nav-list {
            display: none;
        }
        #pageTop {
            display: grid;
            background-color: #1A2D34;
            color: #F8F9FD;
            border-radius: 0 0 50% 50% /0% 0% 5% 5%;
            padding: 1rem 2rem 5rem 2rem;
        }
        #pageTop #pageTopText {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            display: grid;
            justify-items: center;
        }
        #pageTopText h1 {
            font-size: 1.5rem;
            text-align: center;
        }
        #pageTopText p {
            text-align: center;
        }
        #pageTopText #pageTopBtn {
            font-size: 0.9rem;
            padding: 10px 15px;
            border-radius: 50px;
        }
        #pageTop img {
            width: 80vw;
            height: 20vh;
        }
        #aboutUs {
            padding: 2.5rem 2.5rem;
            display: grid;
        }
        #aboutUs div {
            margin: 20px 0;
        }
        #aboutUs div h3 {
            margin: 10px 0;
        }
        #aboutUs div img {
            height: 70%;
        }
        #pageMiddle {
            padding: 5rem 1rem;
        }
        .middlePageLinksContent {
            padding: 0 1rem;
        }
        .middlePageLinksContentImg {
            width: 100%;
            max-height: 35vh;
        }
        .middlePagePersonaPcImg {
            display: none;
        }
        .middlePagePersonaMobileImg {
            display: block;
        }
        .middlePageLinksContentTextContainer {
            text-align: center;
            height: auto;
        }
        .middlePageLinksContentImg {
            width: 100%;
            max-height: 60vh;
            margin: 0;
        }
        .middlePageLinksContentPersona p {
            font-size: 0.9rem;
        }
        #middlePageLinksContent1 .underline::after {
            content: '';
            position: absolute;
            background-color: #ED008C;
            width: 6rem;
            height: 13px;
            display: block;
            margin-top: -15px;
            margin-left: 9.8rem;
            z-index: -1;
        }
        #middlePageLinksContent3 .underline::after {
            content: '';
            position: absolute;
            background-color: #ED008C;
            width: 8.3rem;
            height: 13px;
            display: block;
            margin-top: -15px;
            margin-left: 10rem;
            z-index: -1;
        }
        #video p {
            font-size: 1.5rem;
        }
        #video {
            padding: 10rem 2rem;
            background-color: #1A2D34;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #F8F9FD;
        }
    }